/*
 * Copyright (c) 2024 Silicon Laboratories Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&pinctrl0 {
	spi0_default: spi0_default {
		out {
			pinmux = <GSPI_CLK_PB9>, <GSPI_MOSI_PB11>;
		};
		in {
			pinmux = <GSPI_MISO_PB10>;
		};
	};
};

&gspi {
	status = "okay";
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <2500000>;
	};
};
